In [2]:
df = spark.read.json("../examples/src/main/resources/people.json")

In [5]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [9]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [10]:
df.select("name").show()

+-------+
|   name|
+-------+
|Michael|
|   Andy|
| Justin|
+-------+

In [11]:
df.select(df['name'], df['age']+1).show()

+-------+---------+
|   name|(age + 1)|
+-------+---------+
|Michael|     null|
|   Andy|       31|
| Justin|       20|
+-------+---------+

In [13]:
df.filter(df['age']>20).show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+

In [14]:
df.filter(df['age']>20).select("name").show()

+----+
|name|
+----+
|Andy|
+----+

In [3]:
df.groupBy("age").count().show()

+----+-----+
| age|count|
+----+-----+
|  19|    1|
|null|    1|
|  30|    1|
+----+-----+